@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

h2{
  font-family: 'Single Day', cursive;

}

.icon-container {
  display: inline-block;
  position: relative;
  color: #000; 
  transition: color 0.3s ease; 
}

.icon-container:hover {
  color: #858282; 
}

  
  .headerMenu {
    display: flex;
    align-items: center;
  }
  
  .menuOpen {
    display: flex;
    align-items: center;
  }

  
  .menuIcon {
    display: flex;
    align-items: center;
  }
@media (max-width:815px){
    .headerMenu{
        display: none;
    }
    .navBar{
        display: flex;
        flex-direction: column;
    }
    
    

}
@media (min-width:810px){
    .menuIcon{
        display: none;
    }
    .navBar{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    
}
