@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

h3{
    font-family: 'Dosis', sans-serif;
}


  
  .headerMenu {
    display: flex;
    align-items: center;
  }
  
  .menuOpen {
    display: flex;
    align-items: center;
  }

  
  .menuIcon {
    display: flex;
    align-items: center;
  }
@media (max-width:815px){
    .headerMenu{
        display: none;
    }
    .navBar{
        display: flex;
        flex-direction: column;
    }
    
    

}
@media (min-width:810px){
    .menuIcon{
        display: none;
    }
    .navBar{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    
}
