@media (max-width: 460px) {
  .cardProduct {
    width: 170px;

  }

}

@media (min-width: 810px) {
  .cardProduct {
    margin: 0 auto;
    width: 350px;
  }
  .container{
    max-width: 820px;
  }
  
  
}
