@media (max-width: 460px) {
  .cardProduct {
    width: auto;

  }

}

@media (min-width: 810px) {
  .cardProduct {
    margin: 0 auto;
    width: 350px;
  }
  .container{
    max-width: 990px;
    justify-content: center;
    align-items: center;
  }
  
  
}
